p {
    color: red;
    text-align: center;
    font-style: italic;
  }
table{
    margin: 25px 50px 75px 100px;
}

  #navb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #navb li {
    float: left;
  }
  
  #navb li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navb li a:hover {
    background-color: #111;
  }
  h1 {
    text-shadow: 2px 2px red;
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }